*.o
*.lo
*.la
*.al
*.libs
*.so
*.so.[0-9]*
*.a
*.pc
*.pc.in
*.pyc
*.pyo
*.rej
*.aps
*.suo
*.ncb
*.opensdf
*.sdf
*~
*.#*
.*.swp
*.vcxproj.user
.DS_store
Makefile
Makefile.in
stamp-h1
stamp-h2
.deps
.dirstamp
Debug
Release
x64
xmltooling-lite-Debug
xmltooling-lite-Release
/Projects/vc??/xmltoolingtest/*.cpp
/Projects/vc10/ipch/
/Projects/vc??/*.opendb
/Projects/vc??/*.db
/Projects/vc??/.vs
/xmltooling-uninstalled.sh
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/missing
/pkginfo
/xmltooling.spec
/.settings
/doxyfile
/Portfile
/*.gz
/*.zip
/*.bz2
/ipch
/build-aux
/build
/Build
/doc/api
/m4/lt~obsolete.m4
/m4/ltsugar.m4
/m4/ltoptions.m4
/m4/libtool.m4
/m4/ltversion.m4
/schemas/catalog.xml
/xmltooling/config_pub.h
/xmltoolingtest/xmltoolingtest
/xmltoolingtest/data/*bak
/xmltoolingtest/data/clonedfile.xml
